/* Add your own styles */

header{
    display: flex;
    background-color:darkred;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header img{
    height: 150px;
    width: 150px;
}

main{
    text-align: center;
}

main button{
    background-color: aqua;
    border-radius: 5px;
}