/* Add your own styles */

header{
    display: flex;
    background-color:darkred;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header img{
    height: 150px;
    width: 150px;
}

main{
    text-align: center;
}

main button{
    background-color: aqua;
    border-radius: 5px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

div th{
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr :nth-child(even){
    background-color: bisque;
}